# Global excludes across all subdirectories
*.o
*.obj
*.bc
*.so
*.so.[0-9]
*.so.[0-9].[0-9]
*.so.[0-9].[0-9][0-9]
*.sl
*.sl.[0-9]
*.sl.[0-9].[0-9]
*.sl.[0-9].[0-9][0-9]
*.dylib
*.dll
*.exp
*.a
*.mo
*.pot
objfiles.txt
.deps/
*.gcno
*.gcda
*.gcov
*.gcov.out
lcov*.info
coverage/
coverage-html-stamp
*.vcproj
*.vcxproj
win32ver.rc
*.exe
lib*dll.def
lib*.pc

# Local excludes in root directory
/GNUmakefile
/config.cache
/config.log
/config.status
/pgsql.sln
/pgsql.sln.cache
/Debug/
/Release/
**/tmp_install/
/portlock/

.vscode/
.codebuddy/
autom4te.cache/

# clangd cache and compile DB
.cache/
compile_commands.json

# configure backup files
pg_config.h.in~

# autoconf (configure) temporary working files at repo root
/conf[0-9]*.awk
/conf[0-9]*
/confsoXpof/
/confdefs.h
/confcache
/conftest
/conftest.*
/conftest.dir/

# regression test run artifacts
regression.out
regression.diffs
results/
tmp_check/
dbnotes
mydoc/